* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 38%, 92%);
}
main {
  display: flex;

  max-width: 700px;

  height: 500px;
}

main img {
  height: 100%;
  border-radius: 10px;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0px, 24px, 24px, 0px;
  background-color: ivory;
  width: 50%;
  padding: 45px;
}

h1 {
  font-family: "Fraunces", serif;
  font-size: 28px;
}

button {
  font-family: "Montserrat", sans-serif;
  border: none;
  font-size: 20px;
  color: hsl(0, 0%, 100%);
  justify-content: center;
  align-items: center;
  padding: 16px 8px;
  font-weight: bold;
  gap: 12px;
  transition: 0.3s;

  display: flex;
  
  background-color: hsl(158, 36%, 37%);

  border-radius: 8px;
}

button:hover{
    cursor: pointer;
    background-color: hsl(158, 42%, 18%);

    
    
}

div #perfume {
  font-family: "Montserrat", sans-serif;
  color:hsl(228, 12%, 48%);
  letter-spacing: 1.9px;
}

div #descricao {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
}

div #precoantigo{
    font-family:"Fraunces", serif; 
     color: hsl(228, 12%, 48%);
    font-size: 15px;
     text-decoration: line-through;
}

div #precoatual{
    font-family:"Fraunces", serif ;
    font-size: 40px;
    color: hsl(158, 36%, 37%);
    font-weight: bold;
}

main #preco{
    display: flex;
    align-items: center;
    
}